<div class="container">
  <app-example [text]="nazdar"></app-example>

  <p>hidden text below</p>
  <app-collapsible buttonText="HOVNO V PRDELI">
    Lorem Ipsum Hovno V Tvoji Mame Ipsum Lorem Lorem Hovnem Ipsum
  </app-collapsible>

  <p>dropdown below</p>
  <app-dropdown [items]="['item1','item2','item3']">My Dropdown :O</app-dropdown>
  <p>dropdown above</p>

  <p>amazing rating</p>
  <div class="w-25">
    <app-progressbar [values]="['1000','500','300','100']"></app-progressbar>
  </div>
</div>
